:root {
    --strong-cyan: #26c0ab;
    --very-dark-cyan: #00494d;
    --grayish-cyan: #7f9c9f;
    --LG-cyan: #c5e4e7;
    --VLG-cyan: #f4fafa;
    --white: #fff;
    --form-input: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--LG-cyan);
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1.2rem;
    background-color: var(--white);
    border-radius: 15px;
}

#container main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem 1.5rem;
}

#container aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1.8rem;
    border-radius: 10px;
    background-color: var(--very-dark-cyan);
}

#bill, #number-of-ppl {
    font-size: 17px;
}

div.input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--VLG-cyan);
}

#select-tip .tips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin-top: 5px;
}

.tips .tip {
    text-align: center;
    padding: 6px;
    font-weight: 600;
    color: var(--white);
    border-radius: 3px;
    background-color: var(--very-dark-cyan);
}
.tips .custom {
    color: var(--grayish-cyan);
    background-color: var(--VLG-cyan);
}

#amounts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--white);
}

#amounts .amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#amounts .amount .per-person {
    font-size: 15px;
    color: var(--grayish-cyan);
}

#amounts .amount span.qty {
    font-size: 35px;
    font-weight: 600;
    color: var(--strong-cyan);
}

aside #reset-btn {
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    padding: 8px;
    border-radius: 3px;
    background-color: var(--grayish-cyan);
    opacity: 28%;
}

.attribution {
    font-size: 11px;
    text-align: center;
    display: none;
}
.attribution a {
    color: #3e52a3;
}